{% extends "layout.html" %}

{% block heading %}
    <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">
    <style>
       img.logo {
         width: 20%;
         border-radius: 50%;
       }
       .mainwindow {
         background-image: url("/static/PTR5683.jpg");
       }
     </style>
{% endblock %}

{% block body %}
  <!-- Page Header -->

  <div class="mainwindow" id="about">
    <div class="centeralign">

    <img src="/static/cyclinglogo.jpg" alt="cycling Logo" class="logo">
      <h3>Palghar Milers</h3>
      </div>
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> Palghar Milers have been promoting cycling, Trekking and other sports activities for over 5 years. We are an active, community-based club with members from different age categories.
        </p>
        <p>
          Palghar Milers Club provide an opportunity for riders from Palghar to get together at weekends and midweek, including some evenings for some fantastic social cycling as well as organizing various trekking and other events at weekends.
        </p>
        <p>
          Palghar Milers Club are now planning for Cycling events for 100 km cycling and 150 kms Cycling in coming days.
        </p>
      </div>
    </div>
  </div>

{% endblock %}
