{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/allscripts.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">
{% endblock %}

{% block body %}

<div class="mainwindow" id="addblog">
  <a href="{{ url_for('blogs')}}"  class="close" title="Close">&times;</a>
  <div class="row">
    <div class="col-lg-10 col-md-10 mx-auto">
      <div style="text-align:center " class="subheading"> <i> CREATE A BLOG POST</i></div>

      <form name="addForm" id="addForm" method="POST" action="{{ url_for('addpost') }}" novalidate>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Title</label>
            <input type="text" class="form-control" placeholder="Title" name="title" id="title" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Author</label>
            <input type="text" class="form-control" placeholder="Author" name="author" id="author" required>
            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label>Blog Content</label>
            <textarea rows="8" class="form-control" placeholder="Blog content" name="content" id="content" required></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <br>
        <div id="success"></div>
        <div style="text-align:right;" class="form-group">
          <button type="submit" class="btn btn-primary" id="sendMessageButton">POST</button>
          <a href="{{ url_for('blogs')}}" class="btn btn-primary">Close</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
