{% extends "layout.html" %}

{% block heading %}
    <script src="/static/js/allscripts.js"></script>
   <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">


<style>

</style>
{% endblock %}

{% block body %}
<div class="mainwindow">
  <div class="rightalign">
<a href="{{ url_for('members')}}" class="btn btn-primary">Back</a>
</div>
  <div class="forcenteralign">
    <h3> Athlete Details </h3>
    <img src="  {{athletedetails.profile}}" alt="">
  </div> <br><br>
  <div class="leftalign">
    <a href="{{ url_for('athlete_stats', athlete_id=athletedetails.id)}}">
      Statistics for Strava ID {{athletedetails.id}}
    </a><br><br>

  ID : {{athletedetails.id}} <br><br>
  USERNAME : {{athletedetails.username}}<br><br>
  NAME : {{athletedetails.firstname}} {{athletedetails.lastname}}<br><br>
  ADDRESS : {{athletedetails.city}}, {{athletedetails.state}}, {{athletedetails.country}}<br><br>
  GENDER : {{athletedetails.sex}}<br><br>
  PROFILE CREATED ON : {{athletedetails.created_at}}<br><br>
  PROFLE UPDATED ON : {{athletedetails.updated_at}}<br><br>
  BADGE : {{athletedetails.badge_type_id}}<br><br>
  FOLLOWERS : {{athletedetails.follower}}<br><br>
</div>
</div>
{% endblock %}
