{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/allscripts.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">
{% endblock %}

{% block body %}

<div id="stats" class="mainwindow">
  <div class="rightalign">
<a href="{{ url_for('members')}}" class="btn btn-primary">Back</a>
</div>
  <br><br>
  <div class="centeralign">
  <h4>Statistics for Strava ID {{athlete_id}}</h4>
  <hr>

    {% if athletestats.biggest_ride_distance %}
    Biggest Ride Distance : {{athletestats.biggest_ride_distance/1000}} Kms. <br>
    {% endif %}
    <hr>
      {% if athletestats.biggest_climb_elevation_gain %}
    Biggest Climb Elevation Gain : {{athletestats.biggest_climb_elevation_gain}} Mts. <br>
    {% endif %}
    <hr><br><br>
    <span>
        <button class="btn btn-primary" id="rides1" onclick="visibleonclick()">Cycling Data</button>
        <button class="btn btn-primary" id="runs1" onclick="visibleonclick1()">Running Data</button>
        <button class="btn btn-primary" id="swims1" onclick="visibleonclick2()">Swimming Data</button>
      </span>
    </div>
  </div>

<div id="rides" class="mainwindow" style="display:none">
  <span onclick="document.getElementById('rides').style.display='none'" class="close" title="Close">&times;</span>
  <div class="leftalign">
    Athlete's Recent Rides :<br>
    {% if athletestats.recent_ride_totals %}
    No. of Rides : {{athletestats.recent_ride_totals['count']}} <br>
    Distance : {{athletestats.recent_ride_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.recent_ride_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.recent_ride_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain : {{athletestats.recent_ride_totals['elevation_gain']}} <br>
    Achievements : {{athletestats.recent_ride_totals['achievement_count']}} <br>
    {% endif %}
    <hr>
    Athlete's this Years Rides :<br>
      {% if athletestats.ytd_ride_totals %}
    No. of Rides : {{athletestats.ytd_ride_totals['count']}} <br>
    Distance : {{athletestats.ytd_ride_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.ytd_ride_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.ytd_ride_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.ytd_ride_totals['elevation_gain']}} <br>
    {% endif %}
    <hr>
    Athlete's All Rides :<br>
      {% if athletestats.all_ride_totals %}
    No. of Rides : {{athletestats.all_ride_totals['count']}} <br>
    Distance : {{athletestats.all_ride_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.all_ride_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.all_ride_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.all_ride_totals['elevation_gain']}} <br>
    {% endif %}
    <hr>
  </div>
</div>
<div id="runs" class="mainwindow" style="display:none">
  <span onclick="document.getElementById('runs').style.display='none'" class="close" title="Close">&times;</span>
  <div class="leftalign">
    Athlete's Recent Runs :<br>
      {% if athletestats.recent_run_totals %}
    No. of Runs : {{athletestats.recent_run_totals['count']}} <br>
    Distance : {{athletestats.recent_run_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.recent_run_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.recent_run_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.recent_run_totals['elevation_gain']}} <br>
    {{athletestats.recent_run_totals['achievement_count']}} <br>
    {% endif %}
    <hr>
    Athlete's this Years Runs :<br>
      {% if athletestats.ytd_run_totals %}
    No. of Runs : {{athletestats.ytd_run_totals['count']}} <br>
    Distance : {{athletestats.ytd_run_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.ytd_run_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.ytd_run_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.ytd_run_totals['elevation_gain']}} <br>
    {% endif %}
    <hr>
    Athlete's All Runs :<br>
      {% if athletestats.all_run_totals %}
    No. of Runs : {{athletestats.all_run_totals['count']}} <br>
    Distance : {{athletestats.all_run_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.all_run_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.all_run_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.all_run_totals['elevation_gain']}} <br>
    {% endif %}
    <hr>
  </div>
</div>
<div id="swims" class="mainwindow" style="display:none">
  <span onclick="document.getElementById('swims').style.display='none'" class="close" title="Close">&times;</span>
  <div class="leftalign">
    Athlete's Recent Swims :<br>
      {% if athletestats.recent_swim_totals %}
    No. of Swims : {{athletestats.recent_swim_totals['count']}} <br>
    Distance : {{athletestats.recent_swim_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.recent_swim_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.recent_swim_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.recent_swim_totals['elevation_gain']}} <br>
    {{athletestats.recent_swim_totals['achievement_count']}} <br>
    {% endif %}
    <hr>
    Athlete's this Years Swims :<br>
      {% if athletestats.ytd_swim_totals %}
    No. of Swims : {{athletestats.ytd_swim_totals['count']}} <br>
    Distance : {{athletestats.ytd_swim_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.ytd_swim_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.ytd_swim_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.ytd_swim_totals['elevation_gain']}} <br>
    {% endif %}
    <hr>
    Athlete's All Swims :<br>
      {% if athletestats.all_swim_totals %}
    No. of Swims : {{athletestats.all_swim_totals['count']}} <br>
    Distance : {{athletestats.all_swim_totals['distance']/1000}} Kms. <br>
    Moving Time : {{athletestats.all_swim_totals['moving_time']/60}}mins. <br>
    Elapsed Time : {{athletestats.all_swim_totals['elapsed_time']/60}}mins. <br>
    Elevation Gain :{{athletestats.all_swim_totals['elevation_gain']}} <br>
    {% endif %}
  </div>
</div>
{% endblock %}
