{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/allscripts.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">
{% endblock %}

{% block body %}
  <div class="mainwindow">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h3><a href="{{ url_for('add') }}">Add a Blog</a></h3>
        <hr>
        {% for post in posts %}
          <a href="{{ url_for('post', post_id=post.id) }}">
            <h4>{{loop.index}} : {{ post.title }} </h4>
          </a>
        <div class="rightalign">
          &nbsp; &nbsp;&nbsp; <h6>Posted by {{ post.author }} on {{ post.date_posted.strftime('%B %d, %Y') }}</h6>
        </div>
        <hr>
      {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
