{% extends "layout.html" %}
{% block body %}
<style>
  body,
  html {
    height: 100%;
  }

  .bg {
    background-image: url("/static/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .clubdetails {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-family: Century Gothic;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
    padding: 20px;
    text-align: justify;
  }
  .clubmembers {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 240px;
    left: 300px;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 600px;
    height: 600px;
    padding: 5px 5px;
  }

  .forrightalign {
    text-align: right;
    text-decoration-color: white;
  }

  .forcenteralign {
    text-align: center;
    text-decoration-color: white;
  }

  .forleftalign {
    text-align: left;
    padding: 25px;
  }
  .forleftalign1 {
    text-align: left;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
  }

  /* SCROLL BAR */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: blue;
    cursor: pointer;
  }
</style>
<!-- Page Header -->
<div class="clubdetails" id="clubdetails">
  <div style="text-align:center">
    <h3>Palghar Milers</h3>
  </div>
  <h3> Club Deails </h3>
  Club ID : {{clubdetails[0].id}} <br>
  Name of Club : {{clubdetails[0].name}}<br>
  Address : {{clubdetails[0].city}}, {{clubdetails[0].state}}, {{clubdetails[0].country}}<br>
  No. of Members : {{clubdetails[0].member_count}}<br>
  <h4>Admins </h4>
  <ul>
    {% for admin in clubadmins %}
    <li>
      {{admin.firstname}} {{admin.lastname}}
    </li>
    {% endfor %}
  </ul>
  <button class="btn btn-primary" id="forclubmember" onclick="visibleonclick()">Members in Palghar Milers </button>
  <a class="btn btn-primary" href="{{ url_for('for_club_data')}}">Club Data in Palghar Milers</a>


  <div class="clubmembers" id="clubmembers" style="overflow-y: scroll; display:none">
    <span onclick="document.getElementById('clubmembers').style.display='none'" class="close" title="Close">&times;</span>
    <h3> Club Members </h3>
    <ol>
      {% for clubmember in clubmembers %}
      <li>
        {{clubmember.firstname}} {{clubmember.lastname}}
      </li>
      {% endfor %}
    </ol>
  </div>
  <script>
    function visibleonclick() {
      document.querySelector('#clubmembers').style.display = "initial";
    }
    function visibleonclick1() {
      document.querySelector('#clubdata').style.display = "initial";
    }
  </script>
  {% endblock %}
