{% extends "layout.html" %}
{% block heading %}
<script src="/static/js/allscripts.js"></script>
<link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">


<style>
  .btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
</style>
{% endblock %}
{% block body %}
<div class="mainwindow" id="clubdata1">
  <div class="rightalign">
    <a href="{{ url_for('clubdetails', club_id = 264954)}}"  class="close" title="Close">&times;</a>
    </div>
    <br><br>
    <div class="centeralign">
    <form action="{{ url_for('club_data', club_id = 264954)}}" method="POST">
      Enter Date from : <input type="date" name="data_date" id="data_date" />
      <button class="btn btn-primary" type="submit">Club Activities</button> <br>
    </form>
    <hr>
    <form action="{{ url_for('club_data', club_id = 264954)}}" method="POST">
      <input type="hidden" name="data_date" value="{{'2000-01-01'}}" id="data_date" />
      <button class="btn-link" type="submit">
        <select name="strava_member">
          {% for member in members %}
            <option value="{{member.strava_id}}">CLub Activities of {{member.firstname}}  {{member.lastname}} </option>
          {% endfor %}
        </select>
      </button> <br>
  </form>
    <hr>
    <form action="{{ url_for('club_data', club_id = 264954)}}" method="POST">
      <input type="hidden" name="data_date" value="{{'2000-01-01'}}" id="data_date" />
      <button class="btn btn-primary" type="submit">All Club Activities</button> <br>
    </form>
</div>
</div>
<script>
var date = new Date();

var day = date.getDate();
var month = date.getMonth() + 1;
var year = date.getFullYear();

if (month < 10) month = "0" + month;
if (day < 10) day = "0" + day;

var today = year + "-" + month + "-" + day;
document.getElementById("data_date").value = today;
</script>

{% endblock %}
