{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/layout.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">



<style>


  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  .imggallery {
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
  }

  .forleftalign {
    text-align: left;
    padding: 25px;
  }

  img {
    vertical-align: middle;
  }

  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }


  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }

  .mySlides {
    display: none
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;

    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .active,
  .dot:hover {
    background-color: #717171;
  }

  @keyframes fade {
    from { opacity: .4 } to { opacity: 1 }
  }
  .imagecontent {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1310px;
    height: 550px;
    border: 3px solid #f1f1f1;
    overflow: auto;
  }
  .imageslideshow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1350px;
    height: 700px;
    border: 3px solid #f1f1f1;
  }


  .check {
    opacity: 0.5;
    color: #996;

  }

  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

  div.scrollmenu a:hover {
    background-color: #777;
  }
  ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="img"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

label:before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: grey;
  transform: scale(1);
}

:checked + label img {
  transform: scale(0.9);
  /* box-shadow: 0 0 5px #333; */
  z-index: -1;
}
</style>
{% endblock %}

{% block body %}
<div class="imagecontent">
  <form action="{{url_for('imagegallery')}}" enctype=multipart/form-data method="POST">
    <div class="custom-file mb-3">
      <input type="file" class="custom-file-input" id="customFile" name="new_images" accept=".gif,.jpg,.jpeg,.png" value="Choose Files" multiple>
      <label class="custom-file-label" for="customFile">Choose file</label><br>
      <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Upload</button>
  </div>
  </form>

<div class="imggallery">
  {% with flashmessages = get_flashed_messages() %}
        {% for flashmessage in flashmessages %}
              {% if flashmessage %}
            <!-- Do something with the message -->
            <div id = "alertmsg">
               <div class = "message">{{ flashmessage }}</div><br>
               <button class = "btn btn-primary">OK</button>
            </div>
            {% endif %}
        {% endfor %}
  {% endwith %}
  <h3>Gallery</h3>
  <div class="scrollmenu">
    {% for image_name in image_names %}
    <img id="imggallery1" src="{{url_for('send_image', filename=image_name)}}" style="width:400px; height:310px; padding:5px">
    {% endfor %}

  <div style="padding:10px; text-align:center">
    <button class="btn btn-outline-primary" onclick="visibleonclick()">Slide Show</button>

    <button class="btn btn-outline-primary" onclick="visibleonclick1()">delete images</button>
  </div>
  </div>
</div>
</div>
<div class="imageslideshow" id="imageslideshow" style="display:none">
  <div class="slideshow-container">
    <span onclick="document.getElementById('imageslideshow').style.display='none'" class="close" title="Close">&times;</span>
    {% for image_name in image_names %}
    <div class="mySlides">
      <img id="imggallery1" src="{{url_for('send_image', filename=image_name)}}" style="width:100%"> <br><br>
      <div class="text">{{image_name}}</div>
    </div>
    {% endfor %}
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
</div>
<div class="imagecontent" id="deleteimages" style="display:none">
  <span onclick="document.getElementById('deleteimages').style.display='none'" class="close" title="Close">&times;</span>
  <form method="POST" action="{{url_for('deleteimages')}}">
<div class="form-group">
    <ul>
      {% for image_name in image_names %}
      <li>
        <input type="checkbox" name="selectedimages" value="{{image_name}}" id="img{{image_name}}" class="hidden"/>
        <label for="img{{image_name}}"><img src="{{url_for('send_image', filename=image_name)}}"></label>
      </li>
      {% endfor %}
      <li>
    </ul>
    </div>
    <div class="centeralign">
    <button class="btn btn-outline-primary" type="submit">Delete Selected Images</button>
    </div>
  </form>
</div>

<script>

  $(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});

  var slideIndex = 1;
  showSlides(slideIndex);

  function plusSlides(n) {
    showSlides(slideIndex += n);
  }

  function currentSlide(n) {
    showSlides(slideIndex = n);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    if (n > slides.length) {
      slideIndex = 1
    }
    if (n < 1) {
      slideIndex = slides.length
    }
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    slides[slideIndex - 1].style.display = "block";
  }

  function visibleonclick() {
    document.querySelector('#imageslideshow').style.display = "initial";
  }

  function visibleonclick1() {
    document.querySelector('#deleteimages').style.display = "initial";
  }
  $(document).ready(function(e) {
    $(".img-check").click(function() {
      $(this).toggleClass("check");
    });
  });

</script>
<script>
  var alertmsgBox = $("#alertmsg");
  alertmsgBox.find(".btn").unbind().click(function() {
   alertmsgBox.hide();
   });
</script>

{% endblock %}
