{% extends "layout.html" %}


{% block body %}
<style>
  body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: black
  }

  * {
    box-sizing: border-box;
  }

  .row>.column {
    padding: 4px 2px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
    width: 20%;
  }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: blue;
    text-decoration: none;
    cursor: pointer;
  }

  .mySlides {
    display: none;
  }

  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -300px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    transition: 0.9s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  #imggalary1,
  #imggalary2,
  #imggalary3 {
    margin-bottom: -4px;
    padding: 8px 12px;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  .demo {
    opacity: 1;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  #imggalary1.hover-shadow,
  #imggalary2.hover-shadow,
  #imggalary3.hover-shadow {
    transition: 0.3s;
  }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
  }

  input[type="checkbox"][id^="cb"] {
    display: none;
  }

  label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
  }

  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid grey;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }

  label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
  }

  :checked+label {
    border-color: #ddd;
  }

  :checked+label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
  }

  :checked+label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }
</style>

<form action="{{url_for('imagegalary')}}" enctype=multipart/form-data method="POST">
  <div class="input-group">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" name=image accept=".gif,.jpg,.jpeg,.png">
      <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
    </div>
    <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Upload</button>
  </div>
  <br>
</form>
<div style="text-align:right"><button onclick="visibleonclick()" class="btn btn-outline-secondary" type="button" id="">Delete Images</button></div>

<div class="deleteimage" id="deleteimage" style="display:none">
  <form action="{{url_for('deleteimage')}}" method="post">
    <div class="row">
      {% for i in range(1,file_count+1) %}
      <div class="column">
        <input style="display:none" type="checkbox" name="imagetodelete" value="{{i}}" id="image{{i}}" />
        <label for="image{{i}}"><img id="imggalary1" src="/static/images/{{i}}.jpg" style="width:100%" class="hover-shadow cursor"></label>
      </div>
      {% endfor %}
    </div>
    <button class="btn btn-outline-secondary" type="submit">Delete Selected Images</button>
  </form>
</div>


<script>
  function visibleonclick() {
    document.querySelector('#deleteimage').style.display = "initial";
  }
</script>
<div class="row">

  {% for i in range(1,file_count+1) %}
  <div class="column">
    <img id="imggalary1" src="/static/images/{{i}}.jpg" style="width:100%" onclick="openModal();currentSlide({{i}})" class="hover-shadow cursor">

  </div>
  {% endfor %}

</div>

<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>
  <div class="modal-content">

    {% for i in range(1, file_count+1) %}
    <div class="mySlides">
      <div class="numbertext">{{i}}</div>
      <img id="imggalary2" src="/static/images/{{i}}.jpg" style="width:100%">
    </div>
    {% endfor %}

    <a class="prev" onclick="plusSlides(-1)"><span style="color:#f64b05">&#10094;</span></a>
    <a class="next" onclick="plusSlides(1)"><span style="color:#f64b05">&#10095;</span></a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
    <div class="row">

      {% for i in range(1, file_count+1) %}
      <div class="column">
        <img id="imggalary3" class="demo cursor" src="/static/images/{{i}}.jpg" style="width:100%" onclick="currentSlide({{i}})" alt="Galary">
      </div>
      {% endfor %}

      <div class="row">
      </div>
    </div>
  </div>
  <script>
    function openModal() {
      document.getElementById("myModal").style.display = "block";
    }

    function closeModal() {
      document.getElementById("myModal").style.display = "none";
    }

    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {
        slideIndex = 1
      }
      if (n < 1) {
        slideIndex = slides.length
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex - 1].style.display = "block";
      dots[slideIndex - 1].className += " active";
      captionText.innerHTML = dots[slideIndex - 1].alt;
    }
  </script>

  {% endblock %}
