{% extends "layout.html" %}

{% block heading %}
<script src="/static/js/allscripts.js"></script>
<link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">

<style>

  #div1 {
    color: red;
    font-family: Lucida Handwriting;
    font-weight: bold;
    position: absolute;
    top: 150px;
    left: 150px;
    animation: mymove 10s infinite;
    animation-timing-function: linear;
  }

  @keyframes mymove {
    from { left: 0%; }
    to { left: 100%; }
  }

  .message {
    color: black;
    font-weight: bold;
    font-family: Castellar;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .googleimageid {
    text-align: center;
  }

</style>

{% endblock %}

{% block body %}
<br><br><br><br>
  <div class="message">
    {{message}}
</div><br>
  <div id="div1">
    {{birthday_boy}}
  </div>



{% endblock %}
