{% extends "layout.html" %}
{% block body %}
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  form {
    border: 3px solid #f1f1f1;
    width: 50%
  }
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  .imgcontainer {
    text-align: center;
    margin: 12px 0 6px 0;
  }
  img.logo {
    width: 20%;
    border-radius: 50%;
  }
  .container1 {
    padding: 16px;
    width: 90%;
  }
  span.psw {
    float: right;
    padding-top: 4px;
  }
  span.cancel {
    float: center;
    padding-top: 16px;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    span.cancel {
      display: block;
      float: none;
    }
  }
</style>
{{ message }}
<form action="{{url_for('userlogin')}}" method="post">
  <div class="imgcontainer">
    <img src="/static/cyclinglogo.jpg" alt="cycling Logo" class="logo">
  </div>

  <div class="container1">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container1" style="background-color:#f1f1f1">
    <span class="cancel"><a href="{{url_for('index')}}">Cancel</a></span>
    <span class="psw"> <a href="#">Forgot password?</a></span>
  </div>
</form>
{% endblock %}
