{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/layout.js"></script>
     <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">
{% endblock %}

{% block body %}
<style>

  /* Position text in the middle of the page/image */
  .loginwindow {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
  }

  span.psw {
    float: right;
    padding-top: 40px;
  }
  span.cancel {
    float: left;
    padding-top: 40px;
  }
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .psw {
    align: right;
  }
  .newuser {
    align: right;
  }
  #loginbtn {
    align: center;
  }
  button:hover {
    opacity: 0.8;
  }

  .centeralign {
    text-align: center;
    margin: 12px 0 6px 0;
  }

  img.logo {
    width: 20%;
    border-radius: 50%;
  }


  .loginwindow:after {
    content: '';
    display: block;
    clear: both;
  }



</style>

<body>
  <div class="mainwindow" id= "id01">
    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
    <form action="{{url_for('userlogin')}}" method="post">
      <div class="centeralign">
        <img src="/static/cyclinglogo.jpg" alt="cycling Logo" class="logo">
      </div>
      <div>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <div class="centeralign">
        <button class="btn btn-primary btn-lg" id="loginbtn"  type="submit" value="Login">Login</button>
        </div>
    </form><br>
<div class="centeralign">
    <div class="newuser"><a href="{{url_for('forregistermember')}}">New User? Register</a></div><br>
    <div class="psw"> <a href="{{url_for('index')}}">Forgot password?</a></div><br>
    <div class="psw"> <a href="{{url_for('google_login')}}">Login with <img style="" id="logo" alt="google" width="50px" src="http://res.cloudinary.com/wilfredxd/image/upload/v1471790654/google-logo_paxdp8.png" /></a></div>
  </div>
    </div>
    {% with flashmessages = get_flashed_messages() %}
          {% for flashmessage in flashmessages %}
                {% if flashmessage %}
              <!-- Do something with the message -->
              <div id = "alertmsg">
                 <div class = "message">{{ flashmessage }}</div><br>
                 <button class = "btn btn-primary">OK</button>
              </div>
              {% endif %}
          {% endfor %}
    {% endwith %}
    <script>
      var alertmsgBox = $("#alertmsg");
      alertmsgBox.find(".btn").unbind().click(function() {
       alertmsgBox.hide();
       });
  </script>
  {% endblock %}
