{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/layout.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">

<style>

  .stravarides {
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    z-index: 4;
    width: 700px;
    height: 500px;
    top:380px;
    left:50%;
    text-align: justify;
    overflow: auto;
    margin:0 auto;
    padding:10px;
    border-radius:20px;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=date] {
    width: 80%;
    padding: 3px 10px;
    margin: 8px 0;
  }

  #file {
    display: none;
  }

  .small {
    font-size: 10px;
    text-align: center;
  }

  form {
       display: inline-block;
  }

</style>
{% endblock %}

{% block body %}
<div class="mainwindow" id="memberdetails">
  <a href="{{ url_for('members')}}"  class="close" title="Close">&times;</a>
  <h3>Member Details</h3>
  <div class="centeralign" id="imageid"></div>
  <hr>
  <ul class="leftalign">
    <li>ID: <span id="memberid">{{ member.id }}</span></li>
    <li>Name: {{ member.firstname }} {{ member.middlename }} {{ member.lastname }}</li>
    <li>Email ID : {{ member.email }}</li>
    <li>Mobile No. : {{ member.mobile }}</li>
    <li>Date of Birth: {{ member.dob }}</li>
  </ul>
        <form action="{{url_for('removemember')}}" id="removemember" class="leftalign" method="post">
        <input type="hidden" id="mid" name="rmemberid" value="{{member.id}}">
        <button class="btn btn-danger" id="removemember" onclick="ConfirmDelete()" type="button" name="button">Remove Member</button>
      </form>

      <span>
        <button class="btn btn-primary" id="forupdatemember" onclick="visibleonclick()">Update Details </button>
        <button class="btn btn-primary" id="tshirtsize" onclick="visibleonclick1()">T-Shirt size </button>
        <a class="btn btn-primary" href="{{ url_for('athlete_stats', athlete_id=member.strava_id)}}">Strava Statistics</a>
      </span>
      </div>


  <div class="centeralign" id="updatemember" style="display:none">
      <div class="mainwindow">
      <span onclick="document.getElementById('updatemember').style.display='none'" class="close" title="Close">&times;</span>
      <h3>Update Member Details</h3>
      <form action="{{url_for('forupdatemember')}}" method="post" name="form3" enctype=multipart/form-data>
        <label>
          <input type="file" id="file" name=file accept=".gif,.jpg,.jpeg,.png"><br><br>
          <div class="centeralign" id="imageid1"></div>
        </label>
        <p class="small"> click on image to update</p>
        <hr>
        <div class="leftalign">
        <input type="hidden" id="updateid" name="updateid" value="{{member.id}}" /><br>
        First Name : <br> <input type="text" class="mm" name="updatefname" id="updatefname" value="{{ member.firstname }}" autocomplete="off" autofocus><br>
        Middle Name :<br> <input type="text" class="mm" name="updatemname" id="updatemname" value="{{ member.middlename }}" autocomplete="off" autofocus><br>
        Last Name : <br><input type="text" class="mm" name="updatelname" id="updatelname" value="{{ member.lastname }}" autocomplete="off" autofocus><br>
        Email Id : <br><input type="email" class="mm" name="updateemail" id="updateemail" value="{{ member.email }}" autocomplete="off" autofocus><br>
        Mobile No. : <br><input class="mm" type="number" id="updatemobile" name="updatemobile" value="{{ member.mobile }}" required><br>
        Date of Birth : <br><input type="date" name="updatedob" id="updatedob" value="{{ member.dob }}"><br>
        Strava ID : <br><input class="mm" type="number" id="stravaid" name="stravaid" value="{{ member.strava_id }}" placeholder="Strava ID" required><br><br>
        </div>
        <div class="centeralign">
        <button class="btn btn-primary" id="regstermember" type="submit" value="Update">Update</button>
        </div>
      </form>
    </div>
  </div>

  <div class="mainwindow" id="t_size" style="display:none">
      <h3>T-Shirt Size and Number</h3>
      <div class="centeralign" id="tshirtimageid"><br><br>
        <img class='rounded-circle' width='100px' height='100px' src='/static/tshirt.jpg?' + new Date().getTime()>

      </div>
      <hr>
      <span onclick="document.getElementById('t_size').style.display='none'" class="close" title="Close">&times;</span>

      <form id="frm" action="{{ url_for('tshirtsize') }}" method="post">
        <div class="leftalign">
        <input type="hidden" id="mid" name="tshirtmemberid" value="{{member .id}}">
        Name : {{member.firstname}} <br>
        Size : <input class="form-control" type="number" id="tshirtsize" name="tshirtsize" placeholder="size" min="0" required><br>
        No. &nbsp: <input class="form-control" type="number" id="tshirtnumber" name="tshirtnumber" placeholder="Number" min="0" required><br><br>
        </div>
        <div class="centeralign">
        <button id="" type="submit" class="btn btn-primary">Update Details</button>
        </div>
      </form>
    </div>
  <div class="stravarides" id="stravarides" style="display:none">
      <span onclick="document.getElementById('stravarides').style.display='none'" class="close" title="Close">&times;</span>
      Strava latest Five Rides <br>
      <iframe allowtransparency frameborder='0' height='454' scrolling='no' src='https://www.strava.com/clubs/264954/latest-rides/4f78dcf9bb85d45769d7b5bb687baeccecb9aa15?show_rides=true' width='300'></iframe>
    </div>

  <script>
    var memberid = document.querySelector('#memberid');
    var memberid = memberid.innerHTML;

    function changeImage(memberid) {
      var imagesrc = "<img class='rounded-circle' width='25%' height='25%' src='/static/uploads/" + memberid + ".jpg?" + new Date().getTime() + "'>"
      return imagesrc;
    }
    document.querySelector("#imageid").innerHTML = changeImage(memberid);

  </script>

  <script>
    var memberid = document.querySelector('#memberid');
    var memberid = memberid.innerHTML;

    function changeImage(memberid) {
      var imagesrc = "<img class='rounded-circle' width='25%' height='25%' src='/static/uploads/" + memberid + ".jpg?" + new Date().getTime() + "'>"
      return imagesrc;
    }
    document.querySelector("#imageid1").innerHTML = changeImage(memberid);
  </script>

  <script>
    function visibleonclick() {
      document.querySelector('#updatemember').style.display = "initial";
    }

    function visibleonclick1() {
      document.querySelector("#t_size").style.display = "initial";
    }

    function visibleonclick2() {
      document.querySelector("#stravarides").style.display = "initial";
    }
  </script>

  <script>
    function ConfirmDelete() {
      var x = confirm("Are you sure you want to delete?");
      if (x)
        document.getElementById("removemember").submit();
      else
        return false;
    }
  </script>

  {% endblock %}
