{% extends "layout.html" %}
{% block heading %}
<script src="/static/js/layout.js"></script>
<link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">

<style>
  .not-active {
    pointer-events: none;
    cursor: default;
  }
</style>

{% endblock %}

{% block body %}
<div class="mainwindow">
  <h3 style="text-align:center">Members</h3>
  <div class="rightalign"><button class="btn btn-success"><a href="{{url_for('forregistermember')}}">
    <span style="color:white">Register New Member</span></a></button>
  </div>
  <br>
  <hr>
  <table style="width:100%">
    {% for member in members %}
    <div style="line-height: 1.8;">
      <tr>
        <td>
          <a href="{{ url_for('memberdetails', member_id=member.id)}}">
            {{ loop.index }} : {{ member.firstname }} {{ member.middlename }} {{ member.lastname }}
          </a>
        </td>
        <td> Mobile No.: {{member.mobile}}</td>
        <td>
          <a class="not-active" href="{{ url_for('athlete_stats', athlete_id=member.strava_id)}}">
            Strava ID : {{member.strava_id}}
          </a>
        </td>
      </tr>
    </div>
    {% endfor %}
  </table>
</div>
{% with flashmessages = get_flashed_messages() %}
      {% for flashmessage in flashmessages %}
            {% if flashmessage %}
          <!-- Do something with the message -->
          <div id = "alertmsg">
             <div class = "message">{{ flashmessage }}</div><br>
             <button class = "btn btn-primary">OK</button>
          </div>
          {% endif %}
      {% endfor %}
{% endwith %}
<script>
  var alertmsgBox = $("#alertmsg");
  alertmsgBox.find(".btn").unbind().click(function() {
   alertmsgBox.hide();
   });
</script>
{% endblock %}
