{% extends "layout.html" %}


{% block body %}
<style>
  body,
  html {
    height: 100%;
  }

  .bg {
    background-image: url("/static/background2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: blue;
    cursor: pointer;
  }

  .password {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 30%;
    padding: 20px;
    text-align: center;
  }
</style>

<span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close">&times;</span>
<div class="password" id="id01">
  <div>{{message}}</div>
  <div id="username">Username: {{ user.username }} </div>
  <form action="{{url_for('userpassword')}}" method="post">
    <input type="hidden" class="mm" name="username" id="username" value="{{ user.username }}" autocomplete="off" autofocus>
    Password : <input type="password" class="mm" name="password" id="password" placeholder="password" autocomplete="off" autofocus><br><br>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
