{% extends "layout.html" %}
{% block heading %}
  <script src="/static/js/allscripts.js"></script>
  <link rel="stylesheet" href="/static/css/common.css">
<style>

</style>
{% endblock %}

{% block body %}
<div class="mainwindow" id="postblog">
  <a href="{{ url_for('blogs')}}"  class="close" title="Close">&times;</a>
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='blog.jpg') }}')">

        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <h2>Palghar Milers Blog</h2>
            <div class="post-heading">
              <h3>{{ post.title }}</h3>

              <span class="meta">Posted by
                {{ post.author }}
                on {{ post.date_posted.strftime('%B %d, %Y') }}</span>
            </div>
          </div>
        </div>

    </header><hr>
    <!-- Post Content -->
    <article>

        <div class="row">
          <div class="col-lg-10 col-md-10 mx-auto">
            {{ post.content|safe }}
          </div>
        </div>
        <br><br>
        <div style="text-align:right;"><a href="{{ url_for('blogs')}}" class="btn btn-primary">Close</a></div>

      </div>
    </article>
    <hr>
{% endblock %}
