{% extends "layout.html" %}

{% block heading %}
  <script src="/static/js/allscripts.js"></script>
  <link rel="stylesheet" href="/static/css/common.css?new Date().getTime()">

<style>

  span.psw {
    float: right;
    padding-top: 40px;
  }

  span.cancel {
    float: left;
    padding-top: 40px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    span.cancel {
      display: block;
      float: none;
    }
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=date] {
    width: 80%;
    padding: 3px 10px;
    margin: 8px 0;
  }

  button:hover {
    opacity: 0.8;

</style>
{% endblock %}


{% block body %}
  <div class="mainwindow" id="reg_member">
    <a href="{{ url_for('members')}}"  class="close" title="Close">&times;</a>

    <h3>Member Registration</h3>
    <form action="{{url_for('registermember')}}" method="post" name="form2" enctype=multipart/form-data>
      <div class="leftalign">
      First Name : <br><input type="text" class="mm" name="memberfname" id="memberfname" placeholder="First Name" autocomplete="off" autofocus required><br><br>
      Middle Name : <br><input type="text" class="mm" name="membermname" id="membermname" placeholder="Middle Name" autocomplete="off" autofocus required><br><br>
      Last Name : <br><input type="text" class="mm" name="memberlname" id="memberlname" placeholder="Last Name" autocomplete="off" autofocus required><br><br>
      Email Id : <br><input type="email" class="mm" name="memberemail" id="memberemail" placeholder="Email Id" autocomplete="off" autofocus required><br><br>
      Mobile No. : <br><input class="mm" type="number" id="membermobile" name="membermobile" placeholder="Mobile No." required><br><br>
      Date of Birth : <br><input type="date" name="memberdob" id="memberdob" value="2000-01-01" required><br><br>
      Strava ID : <br><input class="mm" type="number" id="stravaid" name="stravaid" value="0" placeholder="Strava ID" required><br><br>
      Upload Photo : <input type=file name=file accept=".gif,.jpg,.jpeg,.png"><br><br>
      </div>
      <div class="centeralign">
      <button class="btn btn-primary" id="regstermember" type="submit" value="Register">Register</button>
      <a href="{{ url_for('members')}}" class="btn btn-primary">Back</a>
      </div>
    </form>

  </div>
  </div>

{% endblock %}
